<div align="center">

  <div class="panel panel-primary" style="width: 400px">
    <div class="panel-heading">
      <h3>Character Name Generator <i class="glyphicon glyphicon-user"></i></h3>
    </div>
    <div class="panel-body">
      <p><%= FirstName.order("RANDOM()").first.name %>
      <%= LastName.order("RANDOM()").first.name %></p>
    </div>
  </div>

  <%= link_to 'Randomize!', character_name_index_path, class: 'btn btn-default' %>

</div>
