<div align="center">

  <h1>Character Name Generator</h1>

  <h3>Refresh the page to generator a new character name!</h3>

  <p><%= FirstName.order("RANDOM()").first.name %>
  <%= LastName.order("RANDOM()").first.name %></p>

  <%= link_to 'Randomize!', character_name_index_path %>

</div>
