<div class="jumbotron" align="center">
  <h1><i class="glyphicon glyphicon-user"></i></h1>
  <h3>Character Name Generator</h3>
  <p><%= FirstName.order("RANDOM()").first.name %>
    <%= LastName.order("RANDOM()").first.name %></p>
  <%= link_to 'Randomize!', character_name_index_path, class: 'btn btn-warning' %>
</div>
