<div align="center">
  <h3>Click on either of the following links to generator a random new story or character name!</h3>
  <br>
  <%= link_to 'Generate character name', character_name_index_path %><br>
  <%= link_to 'Generate story plot', story_plot_index_path %>
</div>
