<div class="jumbotron" id="home-jumbotron">
  <h2>Welcome to the Story Generator!</h2>
  <p>Here you can find a random new Story Plot or Character Name.</p>
  <p>We'll probably be adding some more generators soon, but for now you have an ever-expanding list of Story Plots and Character Names, just waiting to be randomised!</p>
</div>
