@import "bootstrap-sprockets";
@import "bootstrap";

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: #fff;
  color: #000;
}

.form-group {
  width: 200px
}

.btn-group {
  padding-bottom: 10px
}

.jumbotron {
  text-align: center;
}

#home-jumbotron {
  padding: 50px 200px 50px 200px;
  background: #ffffff;
}

#plot-jumbotron {
  text-align: center;
  background: #177bb4;
  color: #ffffff;
}

#name-jumbotron {
  text-align: center;
  background: #ff5d98;
  color: #ffffff;
}

.bg-danger {
    background-color: #f2dede;
}
