<div align="center">

  <div class="panel panel-danger" style="width: 400px">
    <div class="panel-heading">
      <h3>Story Plot Generator <i class="glyphicon glyphicon-pencil"></i></h3>
    </div>
    <div class="panel-body">
      <p>A <%= Character.order("RANDOM()").first.name %> is a 
      <%= Situation.order("RANDOM()").first.name %> in 
      <%= Place.order("RANDOM()").first.name %>.</p>
    </div>
  </div>

  <%= link_to 'Randomize!', story_plot_index_path, class: 'btn btn-default' %>

</div>
